@model IEnumerable<Book_aspC.Models.Library>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>書籍一覧</h2>
<div>
    @Html.Encode(ViewData["PostData"])
</div>

<p>
    @Html.ActionLink("新規登録", "Create")
</p>
<!--検索機能追加箇所-->
@using (Html.BeginForm("Index", "Libraries", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
        <input type="submit" class="btn btn-default" value="検索" />
    </p>
}
<table class="table">
    <tr>
        <th>
            書籍ID
        </th>
        <th>
            書籍名
        </th>
        <th>
            出版社
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.ActionLink("編集", "Edit", new { id = item.ID })
                @Html.ActionLink("詳細", "Details", new { id = item.ID })
                @Html.ActionLink("削除", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
